---
import { links } from '@/config/menu'
import type { MainNavItem } from '@/types'
import Link from './Link.astro'

type Props = {
  segment: string | null
}

const { segment } = Astro.props;
const links_ = links('armor.ir')
---

<nav>
  <ul class="flex flex-row items-center gap-4">
    {
      links_.map((item: MainNavItem) => (
        <li class="relative list-none">
          <Link
            href={item.href}
            title={item.title}
            class:list={[
              'text-sm transition-all duration-500 ease-linear hover:text-black',
              item.href.startsWith(`/${segment}`)
                ? 'text-black dark:text-white'
                : 'text-gray-400'
            ]}
          >
            {item.title}
          </Link>
        </li>
      ))
    }
  </ul>
</nav>
